<footer>
    <div class="footer-card top-card">
        <div class="social-media">
            <p>Subscribe to the Newslette Receive all our great deals, promotions, leaflets, expert advice, contests, and much more directly in your email inbox and be the first to know!</p>
        </div>
        <div class="newsletter">
            <div class="newsletter-form">
                <input type="email" placeholder="Enter Your Email">
                <button type="submit">I Subscribe!</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-brand">
                <img src="../assets/images/test.png"alt="Technoshop Logo" class="logo" style="width: 200px;">
                <p>"Technoshop is the largest specialist in Morocco for home appliances, TV, Wi-Fi, and multimedia, committed to the best services, the widest selection, and the most attractive offers."</p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-square-x-twitter"  style="color: #b084c4; font-size: 28px;"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram" style="color: #b084c4; font-size: 28px;"></i></a>
                <a href="#"><i class="fa-brands fa-telegram" style="color: #b084c4; font-size: 28px;"></i></a>
                </div>
                <p class="secured-payment"><i class="fa fa-lock"></i> Payement 100% secured</p>
                <div class="payment-methods">
                    <i class="fa-brands fa-cc-visa"  style=" font-size: 28px;  margin: 0 10px;"></i>
                    <i class="fa-brands fa-cc-mastercard"  style=" font-size: 28px;margin: 0 10px; "></i>
                    <i class="fa-solid fa-coins"  style=" font-size: 28px;margin: 0 10px;"></i>
                </div>
            </div>
            <div class="footer-links">
                <h4><b>More Information</b></h4>
    <ul>
        <li><a href="#">Who are we?</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Our stores</a></li>
        <li><a href="#">Electroplanet Commitments</a></li>
        <li><a href="#">Terms of use</a></li>
        <li><a href="#">Terms of sale</a></li>
        <li><a href="#">Legal information</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4><b>Our Service Commitments</b></h4>
    <ul>
        <li><a href="#">Opening hours</a></li>
        <li><a href="#">Expert advice</a></li>
        <li><a href="#">Best price guarantee</a></li>
        <li><a href="#">Financing & free credit</a></li>
        <li><a href="#">Delivery & installation</a></li>
        <li><a href="#">After-sales service</a></li>
        <li><a href="#">Returns & refunds</a></li>
        <li><a href="#">Cookies Chatbot</a></li>
        <li><a href="#">Need help?</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4><b>Our Offers</b></h4>
    <ul>
        <li><a href="#">Our brochure</a></li>
        <li><a href="#">Our brands</a></li>
        <li><a href="#">Our promotions</a></li>
        <li><a href="#">Audio - HiFi</a></li>
        <li><a href="#">Games & consoles</a></li>
        <li><a href="#">Earphones</a></li>
        <li><a href="#">Air conditioning</a></li>
        <li><a href="#">Health and well-being</a></li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">DVD player</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
   
    <div class="footer-card bottom-card">
        <div class="footer-bottom">
            <p><i class="fa-regular fa-copyright"></i> All material and intellectual rights of this site belong to Technoshop.</p>
        </div>
    </div>
</footer>
