<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <h1>Get Macbook Pro A Touch Of Genuis</h1>
        <p>Up To 60% Off on your first order.</p>
        <a href="#" class="btn">Shop Now</a>
    </div>
</section>


<!-- Categories Section -->
<section class="categories">
   <div class="browse"><b><h5>Browse By Category</h5></b></div> 
    <div class="container">
        <button class="scroll-btn left" (click)="scrollLeft()">&#10094;</button>
        <div class="carousel-container" #carouselContainer>
            <div class="category-card" *ngFor="let category of categories">
                <div class="image-box">
                    <img [src]="category.image" [alt]="category.name">
                </div>
                <h3 style="font-size: 75%;">{{ category.name }}</h3>
            </div>
        </div>
        <button class="scroll-btn right" (click)="scrollRight()">&#10095;</button>
    </div>
</section>


<!-- Filter Section -->
 <body class="body">
    

<div class="filter_container">
        <aside class="filters">
            <div class="container-fluid">
                <div class="row" id="fs_app">
                    
                    <section class="col-12" id="fs_header_bar">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <div class="col-10" id="fs_page_title">
                                Filter
                            </div>
                        </div>
                    </section>
        
                    <section class="col-12" id="fs_price_body">
                        <div>
                            <span class="heading">
                                By Price
                            </span>
                            <div class="row">
                                <div class="col-4">
                                    <button class="btn1" type="button">&dollar;</button>
                                </div>
                                <div class="col-4 active">
                                    <button class="btn1" type="button">&dollar;&dollar;</button>
                                </div>
                                <div class="col-4">
                                    <button class="btn1" type="button">&dollar;&dollar;&dollar;</button>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="line1"></div>
                            <div>
                                <ul>
                                    <li>$25</li>
                                    <li>$50</li>
                                </ul>
                            </div>
                        </div>
                    </section>
        
                    <section class="col-12" id="fs_brand_body">
                        <span class="heading">
                            By Brand
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>Lenovo</span>
                                    <span class="text-right"></span>
                                </li>
                                <li class="active">
                                    <span>Dell</span>
                                    <span class="text-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </li>
                                <li>
                                    <span>Asus</span>
                                    <span class="text-right"></span>
                                </li>
                            </ul>
                        </div>
                    </section>
        
                    <section class="col-12" id="fs_color_body">
                        <span class="heading">
                            By Color
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>Black</span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                    <span>Silver</span>
                                    <span class="text-right"></span>
                                </li>
                                <li class="active">
                                    <span>White</span>
                                    <span class="text-right">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </section>
        
                    <section class="col-12" id="fs_rating">
                        <span class="heading">
                            By Rating
                        </span>
                        <div class="contents">
                            <ul>
                                <li>
                                    <span>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star dark"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="text-right"></span>
                                </li>
                                <li>
                                  <span>
                                      <i class="fa fa-star dark"></i>
                                      <i class="fa fa-star dark"></i>
                                      <i class="fa fa-star dark"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                  </span>
                                  <span class="text-right"></span>
                              </li>
                              <li>
                                <span>
                                    <i class="fa fa-star dark"></i>
                                    <i class="fa fa-star dark"></i>
                                    <i class="fa fa-star dark"></i>
                                    <i class="fa fa-star dark"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span class="text-right"></span>
                            </li>
                            <li>
                              <span>
                                  <i class="fa fa-star dark"></i>
                                  <i class="fa fa-star dark"></i>
                                  <i class="fa fa-star dark"></i>
                                  <i class="fa fa-star dark"></i>
                                  <i class="fa fa-star dark"></i>
                              </span>
                              <span class="text-right"></span>
                          </li>
        
                            </ul>
                        </div>
                    </section>
        
                </div>
            </div>
        </aside>
    <!-- Product Section -->
  <section class="products">
        <div class="product" *ngFor="let product of products">
            <img [src]="product.image" [alt]="product.name">
            <h3>{{ product.name }}</h3>
            <p class="price">{{ product.price }} $</p>
            <button class="buy-now">Buy now</button>
        </div> 
        
    </section>

</div>
</body>