<header>

  <div class="top-header">
    <div class="logo">
     <h4 style="color: white; padding-left: 65px;cursor: pointer;"><b>TECHNOSHOP</b></h4>
     
    </div>

   
   
    <div class="icons">

      <ul>
        <li>Home</li>
        <li>Shop</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      
  
      <div class="separator" style="color: aliceblue; list-style: none;">|</div>
      <div class="cart-icon">
        <i class="fa-solid fa-cart-shopping"></i>
      </div> 
      <div class="favorite-icon">
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="user-icon">
        <i class="fa-solid fa-user"></i>
      </div>

      <div class="box">
        <input type="text" placeholder="Search...">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </div>
      
    </div>
  </div>
  
</header>